mixin sProjectInner(data)
	// start sProjectInner
	+b.SECTION.sProjectInner.section#sProjectInner&attributes(attributes)
		.container
			+e.head
				+pic('project-bg.jpg','','')(class="picture-bg")
				.row.align-items-center.justify-content-between
					.col-lg-auto
						+e.projectName #[a(href="#") Проекты] – Всероссийский конкурс “Викторина Победы”
					.col-lg-auto
						+e.projectCategory
							+e.color(style="background-color: #fc5454")
							span Военно-патриотические
							+e.date 21.07 – 18.08
			.tabs
				.tabs__caption
					.tabs__btn.active Описание
					.tabs__btn Номинации
					.tabs__btn Образовательные ресурсы
					.tabs__btn Задания
					.tabs__btn Контакты
					.tabs__link(href="#") Подать заявку
				.tabs__wrap
					+content1
					+content2
					+content3
					+content4
					+content5







//- Описание
mixin content1
	.tabs__content.active
		.section__inner
			+b.section-title
				h1 Всероссийский конкурс &laquo;Викторина Победы&raquo;
				
			+e.content
				p Вам предстоит принять участие в&nbsp;главных сражениях 1941 и&nbsp;1942 годов&nbsp;&mdash; оборонять Брестскую крепость, плечом к&nbsp;плечу с&nbsp;подольскими курсантами сдерживать немецкие танки на&nbsp;Варшавском шоссе, идти в&nbsp;атаку под Москвой, сражаться с&nbsp;врагом в&nbsp;Севастополе и&nbsp;Сталинграде, стоять насмерть в&nbsp;блокадном Ленинграде.
				p Формат приложения включает механики классической викторины и&nbsp;военной стратегии, а&nbsp;увлекательная игра сочетается с&nbsp;образовательным контентом. &laquo;Викторина&nbsp;Победы&raquo; основана на&nbsp;принципе &laquo;учиться играя&raquo;.
				h5 Для участия в конкурсе необходимо:
				ul
					li скачать приложение для Android 
					li скачать приложение для IOS
					li быть зарегистрированным #[a(href="#") на сайте]
					li ответить на вопросы викторины #[a(href="#") в игре]
					li подать заявку на&nbsp;участие в&nbsp;конкурсе (обязательно прикрепи свой результат (снимок экрана) прохождения игры).
				h5 Правила игры:
				ul
					li просматривайте видеоролики о событиях Великой Отечественной войны;
					li отвечайте на вопросы викторины, чтобы получать возможность делать ход;
					li управляйте советскими солдатами и уничтожайте группировку врага;
					li не дайте вражеской армии дойти до вашей позиции;
					li пройдите все уровни игры;
					li подайте Заявку на участие в конкурсе;
					li конкурс проходит со 2 ноября по 9 декабря 2020 года.
				+e.row.row.align-items-center
					.col-md
						strong По&nbsp;итогам Конкурса с&nbsp;помощью генератора случайных чисел будут отобраны 5&nbsp;человек, которые получат настольную игру &laquo;Великая Отечественная война&raquo;, а&nbsp;также смогут сыграть в&nbsp;нее очно на&nbsp;праздновании дня рождения РДШ в&nbsp;2021&nbsp;году.
					.col-auto
						+e.btn(href="#") Подать заявку
			.row
				.col-lg-6
					+e.slider--js.swiper-container
						.swiper-wrapper
							mixin slide(i)
								.swiper-slide
									+e.slide(href=`img/@2x/${i}.jpg` data-fancybox="photogalery")
										picture.picture-bg
											source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/${i}.webp` type="image/webp")
											img.swiper-lazy(src="#" data-src=`img/@2x/${i}.jpg`, alt="")
										+e.category Видеогалерея
										+e.title Как прошел конкурс “Викторина победы”
							+slide('photo-gallery')
							+slide('banner-2')
							+slide('project-bg-4')
						+arrow
				.col-lg-6
					+e.video(href="https://youtu.be/LJ7qXHjxj_0" data-fancybox="video")
						+pic('video-bg.jpg','bg','')(class="picture-bg")
						+e.play
							+icon('play')
						+e.category Видеогалерея
						+e.title Как прошел конкурс “Викторина победы”


mixin nominationsItem(i,title,text)
	.col-lg-6
		+b.nominationsItem
			+e.row.row
				.col-sm-auto
					+pic(`nominations-${i}.jpg`,'','')
				.col
					+e.title= title
					p= text

//- Номинации
mixin content2
	.tabs__content--nominations.tabs__content
		.section__inner
			+e.nominationsRow.row
				+nominationsItem('1','Репортажная фотосъемка','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
				+nominationsItem('2','Творческое видео','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				+nominationsItem('3','Видеорепортаж','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
				+nominationsItem('4','Творческая фотосъемка','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')



mixin resourcesItem(title)
	+b.resourcesItem
		+e.title(href="#")= title
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

//- Образовательные ресурсы
mixin content3
	.tabs__content
		.section__inner
			+e.resourcesRow.row
				.col-lg-4
					+resourcesItem('Более длинное название ресурса')
				.col-lg-4
					+resourcesItem('Название ресурса')
				.col-lg-4
					+resourcesItem('Название ресурса')



mixin taskItem(i,b,title,text)
	+b.taskItem(href="#")
		+pic(`task-bg-${i}.jpg`,'bg','')(class="picture-bg")
		span
			+e.topBlock&attributes(attributes)= b
		+e.descr
			+e.title!= title
			if text
				+e.text!= text

//- Задания
mixin content4
	.tabs__content
		.section__inner.pb-1
			.row
				.col-lg-4
					+taskItem('1','Чек-лист','УЮТНЫЙ ДОМ','На старт, внимание, ПОРЯДОК!').--white
				.col-lg-4
					+taskItem('2','Урок №1','СЛАДКИЕ И ПОЛЕЗНЫЕ ПЕРЕКУСЫ')
				.col-lg-4
					+taskItem('3','Урок №2','ОПТИМИЗАЦИЯ ПРОСТРАНСТВА')







//- Контакты
mixin content5
	.tabs__content
		.section__inner
			+e.contactRow.row
				+e.col.col-sm-auto
					h5 Социальные сети
					+b.soc
						+item-sos('vk')
				+e.col.col-sm-auto
					h5 E-mail
					+e.link(href="mailto:shefvshkole@myrdsh.ru") shefvshkole@myrdsh.ru
				+e.col.col-sm-auto
					h5 Телефон
					+e.link(href="tel:+74951212126") +7 (495) 121-21-26








	// end sProjectInner